<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/estilos.css" />
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/novedades.css">
    <link rel="stylesheet" href="/stylesheets/agregar.css">
    <link rel="stylesheet" href="/stylesheets/modificar.css">
    
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;600&family=Lobster&family=Roboto+Condensed:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;600&family=Lobster&family=Overpass:ital,wght@0,100;1,200;1,300&family=Roboto+Condensed:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Cristian Marello</title>
  </head>
  <body>
    <header class="holder">
      <img src="/images/LOGO CM.png" alt="" />
    </header>





<main class="holder">
{{{body}}}
</main>
<footer class="holder">Diseñado por Cristian Marello</footer>
  </body>
</html>
